<ul>
  <li><a [routerLink]="[ '/sidenav']">basic sidenav</a></li>
  <li><a [routerLink]="[ '/sidenav-1']">sidena-open-close-example</a></li>
  <li><a [routerLink]="[ '/sidenav-2']">sidenav-backdrop-example.component</a></li>
  <li><a [routerLink]="[ '/sidenav-3']">SidenavDisableCloseExampleComponent</a></li>
  <li><a [routerLink]="[ '/sidenav-4']">SidenavAutosizeExampleComponent</a></li>
  <li><a [routerLink]="[ '/sidenav-5']">SidenavFixedExampleComponent</a></li>
  <li><a [routerLink]="[ '/sidenav-6']">SidenavResponsiveExampleComponent</a></li>
</ul>
